body {
  display: flex;
}

section {
  flex: 1  auto; 
}

#yellow {
  order: 1;
}

#red {
  order: 2;
}

#green {
  order: 3;
}

#orange {
  order: 4;
  flex-grow: 3;
}

#blue {
  order: 5;
}
